.jpeg{  
    height: 300px; 
    width: 350px; 
    float: left;
} 

header{
     position: relative; 
     left: 350px;
     display: inline-block;
     /* border: 100px; */
     margin-left: 10px;
    
}
form{
    position: absolute; 
    width: 650px;
    margin-left: 350px;
    
}
  /* div{ */
    /* width: 350px;  */
    /* display: block; */
  /* } */
ul{
    position: absolute;
    left:150px;
    display: inline;
  
}
  
button{
    margin-top: 200px;
}
#checkbox{
    left: 150px;
    margin-top: 100px;

}
.footp{
    margin-left:  400px;
}